# TMDB frontend env example

NEXT_PUBLIC_APP_URL=http://localhost:3000

# TMDB API key and base URL
TMDB_API_READ_TOKEN=your-tmdb-read-token

# An ISO 3166-1 code to get local results
NEXT_PUBLIC_TMDB_REGION=US

# Supabase access from browser
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321  
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_...

# Supabase access for seeding
SUPABASE_SECRET_KEY=sb_secret_...

# "TRUE" for true/yes, otherwise its false
NEXT_PUBLIC_IS_LIVE_DEMO=FALSE